<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog" />
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>


	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="WebServiceVentasSoap" />
    <binding name="ServicioFacturacionSincronizacionSoapBinding" maxReceivedMessageSize="10485760">
     <security mode="Transport" />
    </binding>
    <binding name="ServicioFacturacionSincronizacionSoapBinding1" maxReceivedMessageSize="10485760" />
    <binding name="ServicioFacturacionOperacionesSoapBinding" maxReceivedMessageSize="10485760">
     <security mode="Transport" />
    </binding>
    <binding name="ServicioFacturacionOperacionesSoapBinding1" maxReceivedMessageSize="10485760" />
    <binding name="ServicioFacturacionCodigosSoapBinding" maxReceivedMessageSize="10485760">
     <security mode="Transport" />
    </binding>
    <binding name="ServicioFacturacionCodigosSoapBinding1" maxReceivedMessageSize="10485760" />
    <binding name="ServicioFacturacionSoapBinding" maxReceivedMessageSize="10485760">
     <security mode="Transport" />
    </binding>
    <binding name="ServicioFacturacionSoapBinding1" maxReceivedMessageSize="10485760" />
    <binding name="ServicioFacturacionSoapBinding2" maxReceivedMessageSize="10485760">
     <security mode="Transport" />
    </binding>
    <binding name="ServicioFacturacionSoapBinding3" maxReceivedMessageSize="10485760" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://177.222.127.43/WebServiceVentas.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceVentasSoap" contract="Sac.WebServiceVentasSoap" name="WebServiceVentasSoap" />
   <endpoint address="https://siatrest.impuestos.gob.bo/v2/FacturacionSincronizacion" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionSincronizacionSoapBinding" contract="FactElectSync.ServicioFacturacionSincronizacion" name="ServicioFacturacionSincronizacionPort" />
   <endpoint address="https://siatrest.impuestos.gob.bo/v2/FacturacionOperaciones" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionOperacionesSoapBinding" contract="FactElectOperaciones.ServicioFacturacionOperaciones" name="ServicioFacturacionOperacionesPort" />
   <endpoint address="https://siatrest.impuestos.gob.bo/v2/FacturacionCodigos" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionCodigosSoapBinding" contract="FactElectCodigos.ServicioFacturacionCodigos" name="ServicioFacturacionCodigosPort" />
   <endpoint address="https://siatrest.impuestos.gob.bo/v2/ServicioFacturacionCompraVenta" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionSoapBinding" contract="FactElectCompraVenta.ServicioFacturacion" name="ServicioFacturacionPort" />
   <endpoint address="https://siatrest.impuestos.gob.bo/v2/ServicioFacturacionDocumentoAjuste" binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionSoapBinding2" contract="FactElecNotaCredito.ServicioFacturacion" name="ServicioFacturacionPort1" />
  </client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
